.container04 {
  background-color: #000;
  min-height: 100vh;
}

.projetotext {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgba(105, 98, 98, 0.61);
  font-size: 100px;
  font-weight: 800;
}

.carousel-inner > .carousel-item > a > img {
  width: 700px;
  transform: scale(0.7);
  height: 500px;
  cursor: pointer;
  border-radius: 10px;
  border: solid 1px white;
}
