.container02 {
  background-color: #000;
  min-height: 50vh;
}

.sobre {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  padding-top: 10%;
}
.tituloSobre {
  color: rgba(105, 98, 98, 0.61);
  font-size: 100px;
}

.container3 {
  background-color: #000;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(80px, auto);
  gap: 10px 15px;
  grid-template-areas: "item1 item2 item2";
}
.item1 {
  grid-area: item1; /* Colocamos o nome do item aqui*/
}

.item2 {
  grid-area: item2;
}

.textQuemSou {
  color: rgb(187, 255, 0);
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 555;
  display: flex;
  gap: 3rem;
  margin-left: 12%;
  margin-top: 15px;
}

.descricao {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 555;
  font-size: 25px;
  display: flex;
  gap: 3rem;
  margin-left: 12%;
  margin-top: 15px;
  line-height: 55px;
}

.skils {
  color: rgb(187, 255, 0);
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 555;
  margin-left: 12%;
  margin-top: 20px;
}
